@import url(https://fonts.googleapis.com/css?family=Lato|PT+Mono);

body {
  padding-top: 0px;
}

.inputText {
  font-size: 24px;
}

span {
  font-size: 32px;
  font-family: 'PT Mono'
}

input {
  font-family: 'PT Mono';
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #3d3d3d;
}
