@import url(https://fonts.googleapis.com/css?family=Lato|PT+Mono);

body {
  padding-top: 0px;
}

.inputText {
  font-size: 24px;
}

span.text {
  font-size: 28px;
  font-family: 'PT Mono'
}

input {
  font-family: 'PT Mono';
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #3d3d3d;
}

.underlineSpan {
  border-bottom:2px solid #3d3d3d;
  /* padding-bottom:1px;*/
  position:relative;
  cursor: pointer;

// &:after {
//   border-bottom:2px dotted #000;
//   content:'';
//   left:0;
//   position:absolute;
//   bottom:-3px;
//   width:100%;
// }
}

.next-question {
  margin-top: 0em;
}

.no-error {
  margin-top: 1em;
}

.height-appear {
  height: 0;
  opacity: 0.01;
 }
.height-appear.height-appear-active {
   height: auto;
   opacity: 1;
   transition: all 0.5s ease-in;
 }

.slide-left-appear {
  transform: translate3d(-100%, 0, 0);
  opacity: 0.01;
}

.slide-left-appear.slide-left-appear-active {
   transform: translate3d(0, 0, 0);
   opacity: 1;
   transition: all 0.5s ease-in;
 }
