@import url(https://fonts.googleapis.com/css?family=Lato|PT+Mono);

body {
  padding-top: 0px;
}

.inputText {
  font-size: 24px;
}

span {
  font-size: 28px;
  font-family: 'PT Mono'
}

input {
  font-family: 'PT Mono';
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #3d3d3d;
}

.underlineSpan {
  border-bottom:2px solid #3d3d3d;
  /* padding-bottom:1px;*/
  position:relative;
  cursor: pointer;

// &:after {
//   border-bottom:2px dotted #000;
//   content:'';
//   left:0;
//   position:absolute;
//   bottom:-3px;
//   width:100%;
// }
}

.next-question {
  margin-top: 1em;
}

.no-error {
  margin-top: 1em;
}
